.top_header .navbar-brand{
    font-size: 40px;
    display: flex;
    flex-direction: row;
}
.top_header_store{
    color:red;
    font-weight: bolder;
}

.top_header_buttons{
    color: white;
    font-size: 20px;
    text-decoration: none;
    
    
}
.top_header_buttons:hover{
    color:white
}
.top_header_searchBox{
    background-color: white;
}
.top_header_cartButton{
    background-color: white;
}
.top_header_cart_count{
    background-color: red;
    border:2px solid red;
    border-radius:50%;
    font-size:15px;
    color:white;
}
.top_header_userButton{
    background-color: #fff;
}
.top_header_right{
    margin-right:5%;
}
a a:hover{
    text-decoration: none
}
a:hover{
    cursor: pointer;
    color:white
}